test file
clear.sh
.ssh/
ssh/*
Training plan.docx
*.tf
bk_Dockerfile
bash_task/test10.1/*
applicationHost.config

#test file
clear.sh
ssh/*
# terraform
.terraform/
*.tfstate*
*.tfstate.backup
*.tfvars

# ansible
secrets.yml
*.retry


